<?xml version="1.0" encoding="UTF-8"?>
<!--
	Powered by Incredibox
	Incredibox © So Far So Good
	http://www.sofarsogood.fr
	http://www.incredibox.com
        Modded by Rizsim Studios (for testing flash shit)
-->
<root>

	<appInfo>
		<name>Amogus</name>
		<version>2</version>
		<annee>2025</annee>
		<duree>4.78</duree>
		<frame>328</frame>
		<bonusloopA>true</bonusloopA>
		<volencode>0.65</volencode>
	</appInfo>

	<musique>

		<son picto="picto0" posPicto="49,73">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/beats/1_joshua_a.mp3</mp3>
			<mp3>sound-v1/beats/1_joshua_b.mp3</mp3>
		</son>
		<son picto="picto1" posPicto="49,73">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto2" posPicto="49,73">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto3" posPicto="49,73">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto4" posPicto="49,73">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>


		<son picto="picto5" posPicto="49,78">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto6" posPicto="49,78">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto7" posPicto="49,78">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto8" posPicto="49,78">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto9" posPicto="49,78">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto10" posPicto="49,59">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto11" posPicto="49,59">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto12" posPicto="49,59">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto13" posPicto="49,59">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto14" posPicto="49,59">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>


		<son picto="picto15" posPicto="49,61">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto16" posPicto="49,61">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto17" posPicto="49,61">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto18" posPicto="49,69">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto19" posPicto="49,69">
			<swf>costume-v1/beat1_boom.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>


		<sonBonus picto="bonus0">
			<mp3>sound-v2/bonus/aspire.mp3</mp3>
		</sonBonus>
		<sonBonus picto="bonus1">
			<mp3>sound-v2/bonus/satisfy.mp3</mp3>
		</sonBonus>
		<sonBonus picto="bonus2">
			<mp3>sound-v2/bonus/little-miss.mp3</mp3>
		</sonBonus>
		<sonBonus picto="bonus3">
			<mp3>sound-v2/bonus/spinin.mp3</mp3>
		</sonBonus>

	</musique>

	<pathBonus loop="4">
		<swf code="0,3,5,8,11" visible="0" name="Satisfied">bonus-v1/are-you-satisfy.swf</swf>
		<swf code="4,5,6,12,14" visible="0" name="Little Miss">bonus-v1/little-miss.swf</swf>
		<swf code="5,7,8,13,17" visible="0" name="Why this world">bonus-v1/why-this-world.swf</swf>
	</pathBonus>

	<pathPicto>
		<swf>picto-v2.swf</swf>
	</pathPicto>

	<pathIntro>
		<swf>intro-v2.swf</swf>
	</pathIntro>

	<pathLogo>
		<swf>logo-v2.swf</swf>
	</pathLogo>

</root>
